.standard__hearder {
    background-color: var(--standard-grey);
    color: var(--standard-white);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo__name {
    margin: 15px 70px;
    padding: 0;
    text-align: center;
}

.titulo_app {
    margin: 0;
    padding: 0;
}

.logo__chat {
    width: 100px;
}

.navegacao {
    margin: 0 1vw;
}

.link__navegacao {
    color: var(--standard-white);
    text-decoration: none;
    padding: 0 1vw;
    font-size: 1.5em;
}

.link__navegacao:hover {
    color: var(--standard-blue);
    transition: 0.5s;
}

/* .botao__menu {
    font-size: 90px;
    position: absolute;
    right: 0;
    top: 5%;
    padding: 0 20px;
}

.botao__menu--externo {
    font-size: 90px;
    padding: 0;
    margin: 0; */
/* } */

@media screen and (max-width: 720px) {
    .logo__name {
        margin: 15px 35px;
    }

    .link__navegacao {
        padding-right: 5vw;
    }

    /* .navegacao {
        display: flex;
        flex-direction: column;
        text-align: right;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        padding-top: 20px;
        padding-left: 300px;
        background-color: var(--standard-grey);
    } */

}

@media screen and (max-width: 540px) {
    
    .logo__chat {
        width: 70px;
    }

    .titulo_app {
        font-size: 25px;
    }

    .logo__name {
        margin: 15px 18px;
    }
}